*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: 100vh;
}

.bg-img{
  background-image: url("../assets/img/landscape.jpg");
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.img-cat{
  background-image: url("../assets/img/kitten-medium.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 40%;
  height: 100%;
}

@media (max-width: 650px){
  .bg-img{
    background-image: url("../assets/img/dawn.png");
    background-size: auto 100vh;
  }

  .img-cat{
    background-image: url("../assets/img/kitten-large.png");
    background-size: 100% auto;
    width: 100%;
  }
}

@media (max-width: 465px){
  .bg-img{
    background-image: url("../assets/img/maxresdefault.jpg");
    background-size: auto 100vh;
    background-repeat: no-repeat;
  }

  .img-cat{
    background-image: url("../assets/img/kitten-small.png");
    background-size: 100% auto;
    width: 90%;
  }
}
