*{
  margin: 0;
  padding: 0;
}

.container{
  display: flex;
  justify-content: center;
  height: 100vh;
}

.bg-img, .img-cat{
  background-size: cover;
  background-repeat: no-repeat;
}

.img-cat{
  display: flex;
  width: 400px;
  height: auto;
  background-size: 100% auto;
}

@media (max-width: 464px){
  .bg-img{
    background-image: url("../assets/img/maxresdefault.jpg");
  }

  .img-cat{
    background-image: url("../assets/img/kitten-small.png");
  }
}

@media (min-width: 465px){
  .bg-img{
    background-image: url("../assets/img/dawn.png");
  }

  .img-cat{
    background-image: url("../assets/img/kitten-large.png");
    width: 700px;
    height: 300px;
  }
}

@media (min-width: 650px){
  .bg-img{
    background-image: url("../assets/img/landscape.jpg");
  }

  .img-cat{
    background-image: url("../assets/img/kitten-medium.png");
  }
}
